@font-face {
  font-family: "GothamLight";
  src: url("../font/GothamLightRegular.otf") format("opentype"); }

  @font-face {
    font-family: "GothamBold";
    src: url("../font/GothamBold.otf") format("opentype"); }

@font-face {
  font-family: "BaskervvilleItalico";
  src: url("../font/Baskervville-Italic.otf") format("opentype"); }

  @font-face {
    font-family: "Baskervvilleregular";
    src: url("../font/Baskervville-Regular.otf") format("opentype"); }
    @font-face {
      font-family: "PlayfairDisplayItalico";
      src: url("../font/PlayfairDisplay-Italic.ttf") format("truetype"); }

    


