@import '_font';
$fontLogo : 'GothamBold';
$fontCometario : 'BaskervvilleItalico' ;
$fontNav : 'GothamLight';


$espacamentoSecaoTop: '';
$espacaemntoOrnaemntoTop: '';
$espacaemntoOrnaemntoBottom: ''; 